@model List<Task_Manager.Models.Task>

<h2>Tasks</h2>

<input class="form-control" type="search" id="searchBox" name="search" placeholder="Search Tasks..."
       hx-post="/Task/Search"
       hx-trigger="keyup changed delay:500ms"
       hx-target="#taskCollection"
       hx-indicator="#loadingIndicator" />

<div id="loadingIndicator" class="htmx-indicator">Searching...</div>

<table id="taskCollection" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>IsCompleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_Tasks", Model)
    </tbody>
</table>

<div>
    <button class="btn btn-success" hx-get="/Task/Create" hx-target="#taskForm">Create New Task</button>
</div>

<div id="taskForm"></div>