@model List<Task_Manager.Models.Task>

<h2>Tasks</h2>
@{
    Html.RenderPartial("Tasks");
}

<div>
    <a asp-action="Create" asp-controller="Tasks" hx-get="/Tasks/Create" hx-target="#taskForm">Create New Task</a>
</div>

<div id="taskForm" hx-boost="true"></div>